.loader {
  color: red;
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.section-header {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 1rem;
  height: 110px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 990px) {
}

/*.text-justify {*/
/*  text-align: justify !important;*/
/*  margin: auto 0.5em;*/
/*}*/

/*.icon {*/
/*  font-size: 3rem;*/
/*  padding: 5px;*/
/*  border: thin solid greenyellow;*/
/*}*/

/*.border {*/
/*  display: inline-flex;*/
/*  border: thin solid red;*/
/*}*/

/*@media only screen and (max-width: 1200px) and (min-width: 1000px) {*/
/*.icon {*/
/*padding: 5px 10px*/
/*}*/
/*}*/

/*@media only screen and (min-width: 1200px) {*/
/*.Schedule {*/
/*height: 300px;*/
/*overflow-y: scroll;*/
/*overflow-x: hidden;*/
/*}*/

/*.icon {*/
/*font-size: 6em;*/
/*padding: 15px;*/
/*}*/
/*}*/

/* Smartphones (landscape) ----------- */
/*@media only screen and (min-width : 321px) {*/
/*}*/

/* Smartphones (portrait) ----------- */
/*@media only screen and (max-width : 320px) {*/
/*}*/

/* Desktops and laptops ----------- */
/*@media only screen and (min-width : 1224px) {*/
/*}*/
