@font-face {
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
            local("Press Start 2P"),
            local("PressStart2P"),
            url("/fonts/PressStart2P-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Share Tech Mono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
            local("Share Tech Mono"),
            local("ShareTechMono"),
            url("/fonts/ShareTechMono-Regular.woff2") format("woff2");
}

/*
// Legacy Typeface
@font-face {
    font-family: "BD Console";
    src: url("/fonts/bd_console.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
    font-family: "Teko";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
            url("/fonts/teko-regular.woff2") format("woff2"),
            url("/fonts/teko-regular.woff") format("woff");
}

@font-face {
    font-family: "Teko";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
            url("/fonts/teko-medium.woff2") format("woff2"),
            url("/fonts/teko-medium.woff") format("woff");
}

@font-face {
    font-family: "ON THE BLOCK 3D";
    src: url("/fonts/ONTHEBLOCK3D.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
