.icon {
    background-color: red;
    vertical-align: center;
    display: inline-block;
    padding: 3rem;
}

.icon:hover {
    background-color: #960000;
}

.twitter {
    -webkit-mask: url("../../assets/icons/fa-twitter.svg") no-repeat 50% 50%;
    mask: url("../../assets/icons/fa-twitter.svg") no-repeat 50% 50%;
}

.soundCloud {
    -webkit-mask: url("../../assets/icons/fa-soundcloud.svg") no-repeat 50% 50%;
    mask: url("../../assets/icons/fa-soundcloud.svg") no-repeat 50% 50%;
}

.mixCloud {
    -webkit-mask: url("../../assets/icons/fa-mixcloud.svg") no-repeat 50% 50%;
    mask: url("../../assets/icons/fa-mixcloud.svg") no-repeat 50% 50%;
}

.instagram {
    -webkit-mask: url("../../assets/icons/fa-instagram.svg") no-repeat 50% 50%;
    mask: url("../../assets/icons/fa-instagram.svg") no-repeat 50% 50%;
}
