.icon {
    background-color: #ff0000;
    vertical-align: center;
    display: inline-block;
    padding: 3rem;
}

.icon:hover {
    background-color: #960000;
}

.twitter {
  -webkit-mask: url("icons/fa-twitter.svg") no-repeat 50% 50%;
  mask: url("icons/fa-twitter.svg") no-repeat 50% 50%;
}

.soundCloud {
  -webkit-mask: url("icons/fa-soundcloud.svg") no-repeat 50% 50%;
  mask: url("icons/fa-soundcloud.svg") no-repeat 50% 50%;
}

.mixCloud {
  -webkit-mask: url("icons/fa-mixcloud.svg") no-repeat 50% 50%;
  mask: url("icons/fa-mixcloud.svg") no-repeat 50% 50%;
}

.instagram {
  -webkit-mask: url("icons/fa-instagram.svg") no-repeat 50% 50%;
  mask: url("icons/fa-instagram.svg") no-repeat 50% 50%;
}

@media only screen and (max-width: 990px) {
    .icon {
        border: thin solid purple;
        padding: 1rem;
    }
}
