footer ul {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    vertical-align: middle;
}

footer ul li {
    display: inline-block;
    margin: 1rem;
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    vertical-align: center;
    fill: red;
}

.twitter {
    background-image: url("../../assets/icons/fa-twitter.svg");
}

.soundCloud {
    background-image: url("../../assets/icons/fa-soundcloud.svg");
}

.mixCloud {
    background-image: url("../../assets/icons/fa-mixcloud.svg");
}

.instagram {
    background-image: url("../../assets/icons/fa-instagram.svg");
}
