.App {
    position: relative;
    background-color: #FFFFFF;
}

.App-Logo {
    top: 3rem;
    position: relative;
    padding: 1rem;
    background-color: #000000;
}

header {
    color: #ffffff;
    height: 800px;
    background: #222 url(assets/header.jpg) no-repeat fixed center;
    background-size: cover;
}

footer {
    color: #ffffff;
    background-color: #000000;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.footer {
    font-family: 'Press Start 2P', cursive;
}

.icon {
    font-size: 4em;
    padding:15px;
}