.App {
    position: relative;
    background-color: #FFFFFF;
}

.App-Logo {
    top: 35px;
    position: fixed;
    padding:15px;
    background-color: #000000;
}

header {
    color: white;
    height: 1028px;
    background-color: #222;
    background-image: url(assets/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    color:white;
    background-color: #000000;
    padding: 181px;
}