/** Elements **/
header {
    color: #ffffff;
    height: 800px;
    background: #222 url(assets/header.jpg) no-repeat fixed center;
    background-size: cover;
}

footer {
    color: #ffffff;
    background-color: #000000;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* Custom Classes */
.App {
    position: relative;
    background-color: #FFFFFF;
}

.App-Logo {
    top: 3rem;
    position: relative;
    padding: 1rem;
    background-color: #000000;
}

.footer {
    font-family: 'Press Start 2P';
}

.icon {
    font-size: 3em;
    padding: 15px;
}


@media only screen and (min-width: 1200px) {
    .Schedule {
        height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .Schedule::-webkit-scrollbar {
        width: 1em;
    }

    .Schedule::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .Schedule::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}



/* Smartphones (landscape) ----------- */
/*@media only screen and (min-width : 321px) {*/
/*}*/

/* Smartphones (portrait) ----------- */
/*@media only screen and (max-width : 320px) {*/
/*}*/

/* Desktops and laptops ----------- */
/*@media only screen and (min-width : 1224px) {*/
/*}*/