html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: 'Share Tech Mono', monospace, sans-serif;
    font-size: 1em;
    background-color: #090909;
}

a:link, a:visited {
    color: #ff0000;
}

a:hover, a:active {
    color: #960000;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #000000;
    color: #FFFFFF;
    padding:1rem;
}

@media screen and (min-width: 1200px) {
    h1, h2, h3 {
        font-size: 1.6rem;
    }
}


@media (max-width: 768px){
    header {
        width:100%;
        height: 300px;
        background-position: top;
        background-size: initial;
    }
    .icon {
        font-size: 2.8em;
    }
    footer h3{
        font-size: 0.8em;
    }
    footer small {
        font-size: 0.3em;
    }
}
@media (max-width: 480px){
    header {
        height: 540px;
        /*background: no-repeat fixed center;*/
        background-size: cover;
    }
}

@media only screen and (max-width : 1224px) {
    header {
        height: 680px;
    }
}

/* Smartphones (landscape) ----------- */
/*@media only screen and (min-width : 321px) {*/
/*}*/

/* Smartphones (portrait) ----------- */
/*@media only screen and (max-width : 320px) {*/
/*}*/

/* Desktops and laptops ----------- */
/*@media only screen and (min-width : 1224px) {*/
/*}*/